body
{
	background-color: black;
	color: white;
	font-family: "Segoe UI", "Calibri";
	font-size: 12px;
	margin: 0px;

	/* Need these even with sizer.js, or the initial position is wrong: */
	width: 130px;
	height: 100px;
}

#container
{
	padding: 4px;
	width: 100%;
	height: 100%;
	position: relative;
}

#caption
{
	color: white;
	background: rgba(0, 0, 0, 0.3);
	font-family: Arial;
	font-size: 8pt;
	padding: 5px;
	position: absolute;
	bottom: 10px;
	left: 5px;
	border-radius: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
}

#caption-text
{
}

#message
{
	font-size: small;
	text-align: center;
}

#message-icon
{
	vertical-align:middle;
}

.message-docked
{
	margin-top: 20px;
	margin-bottom: 4px;
	margin-left: 0px;
	margin-right: 12px;
}

.message-undocked
{
	margin-top: 80px;
	margin-bottom: 4px;
	margin-left: 0px;
	margin-right: 12px;
}

#update
{
	position: absolute;
	bottom: 12px;
	left: 5px;
}