body
{
	background-color: black;
	color: white;
	font-family: "Segoe UI", "Calibri";
	font-size: 12px;
	margin: 0px;

	/* Need these even with sizer.js, or the initial position is wrong: */
	width: 130px;
	height: 100px;
}

#container
{
	padding: 4px;
	width: 100%;
	height: 100%;

	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: center;
}

#message
{
	font-size: small;
	margin-top: 30%;
	margin-bottom: 4px;
	margin-left: 4px;
	margin-right: 7px;
	text-align: center;
}
