body
{
  background-color: black;
	background-image:url('background-normal.png');
  background-repeat:no-repeat;
  font-family:Calibri;
	width:130px;
	height:98px;
	margin:0px;
	color:white;
}
